<ion-header>
  <ion-toolbar>
    <ion-title>panda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="panda">
    <div class="ears">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="fase">
      <div class="eyes">
        <div class="left">
          <div class="eye"></div>
        </div>
        <div class="right">
          <div class="eye"></div>
        </div>
      </div>
      <div class="nose"></div>
      <div class="mouth">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </div>
    <div class="body">
      <div class="arms"></div>
      <div class="legs"></div>
    </div>
  </div>
</ion-content>
